body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(todos.jpg) 50% 50% no-repeat;
    background-size: cover;
    display: table;
}
#container{
    font-family: 'Margarine', cursive;
    font-size: 18px;
    background: rgba(29, 120, 206, 0.068);
    width: 700px;
    margin: 200px auto;
    border-radius: 16px;
    border: 5px solid rgba(128, 128, 128, 0.24);
    padding: 25px;
}
h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 380%;
    color: white;
    border: 3px solid gainsboro;
    border-radius: 10px;
    background: none;
    text-align: center;
    margin: 24px auto;
    width: 50%;
    padding: 10px;
}
h1:hover{
    border: 4px solid rgb(102, 204, 255);
    color: rgb(102, 204, 255);
}
button {
    text-align: center;
    background: none;
    color: rgb(102, 204, 255);
    font-family: 'Lobster', cursive;
    font-size: 18px;
    border: 1px solid rgb(102, 204, 255);
    border-radius: 8px;
    width: 28%;
    padding: 7px;
}
button:hover{
    color: white;
    border: 2px solid gainsboro;
}
div {
    padding: 6px;
}
input{
    margin-left: 38px;
    padding: 7px;
    color: white;
    background: rgba(255, 255, 255, 0.137);
    border: 2px solid white;
    border-radius: 8px;
    width: 26%;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
}
#toggleAll{
    justify-content: center;
    display: flex;
    padding-bottom: 26px;   
}
ul{
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
}
li{
    background: rgba(255, 255, 255, 0.137);
}
li:nth-child(2n){
    /* background: rgba(128, 128, 128, 0.089); */
    background: none;
}
@media(max-width:768px) {
    h1 {
        font-size: 380%; 
    }
    #container{
        font-size: 6px;
        width: 300px;
        height: 200;
        padding: 10px;
    }
    button {
        font-size: 4px;
        width: 44%;
        padding: 1px;
    }
    input{
        width: 22%;
        font-size: 4px;
        padding: 1px;
        margin-left: 7px;
    }
    body{
        background: url(todos.jpg);
        background-repeat: no-repeat;
        background-size: 400px 1000px;
    }
}
